body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin: 0;
}

aside {
    width: 250px;
    background-color: rgb(43,39,53);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

aside h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside li {
    margin: 10px 0;
}

aside a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

aside a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 20px;
}

section {
    display: none;
}

section.active {
    display: block;
}

.section-image {
    width: 100%;
    max-width: 400px;
    height: 200px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}